<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.mapper.CmsModelItemMapper">

    <sql id="baseField">
        id,
        label,
        field,
        data_type,
        is_single,
        required,
        is_channel_model,
        model_id
    </sql>

    <sql id="key">
        <if test="name!=null and name!=''">
            name,
        </if>
        <if test="priority!=null">
            priority,
        </if>
        <if test="all!=null">
            is_all,
        </if>
        <if test="status!=null">
            status,
        </if>
        create_time
    </sql>

    <sql id="value">
        <if test="name!=null and name!=''">
            #{name},
        </if>
        <if test="priority!=null">
            #{priority},
        </if>
        <if test="all!=null">
            #{all},
        </if>
        <if test="status!=null">
            #{status},
        </if>
        #{createTime}
    </sql>

    <sql id="updateField">
        update_time = #{updateTime},
        <if test="name!=null and name!=''">
            name=#{name},
        </if>
        <if test="priority!=null">
            priority = #{priority},
        </if>
        <if test="all!=null">
            is_all = #{all},
        </if>
        <if test="status!=null">
            status= #{status},
        </if>
    </sql>

    <resultMap id="baseResultMap" type="com.cms.dao.entity.CmsModelItemEntity">
        <id property="id" column="id"/>
        <result property="label" column="label"/>
        <result property="field" column="field"/>
        <result property="dataType" column="data_type"/>
        <result property="single" column="is_single"/>
        <result property="required" column="required"/>
        <result property="channelModel" column="is_channel_model"/>
        <result property="modelId" column="model_id"/>
    </resultMap>

    <insert id="batchInsert">
        insert into cms_model_item(
        label,
        field,
        data_type,
        is_single,
        required,
        is_channel_model,
        model_id
        ) values
        <foreach collection="list" item="item" separator=",">
            (#{item.label},
            #{item.field},
            #{item.dataType},
            #{item.single},
            #{item.required},
            #{item.channelModel},
            #{item.modelId}
            )
        </foreach>
    </insert>


    <select id="selectByModelIdAndChannelModel" resultMap="baseResultMap">
        select
        <include refid="baseField"/>
        from cms_model_item
        where model_id = #{modelId} and is_channel_model = #{channelModel} and is_delete = 1
    </select>

</mapper>