<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.mapper.CmsPermissionMapper">

    <sql id="baseField">
        id,
        name ,
        url,
        parent_id,
        is_menu,
        action,
        priority
    </sql>

    <sql id="key">
        <if test="parentId!=null">
            parent_id,
        </if>
        <if test="menu!=null">
            is_menu,
        </if>
        <if test="icon!=null and icon!=''">
            icon,
        </if>
        <if test="url!=null and url!=''">
            url,
        </if>
        <if test="action!=null and action!=''">
            action,
        </if>
        priority,
        name ,
        create_time
    </sql>

    <sql id="value">
        <if test="parentId!=null">
            #{parentId},
        </if>
        <if test="menu!=null">
            #{menu},
        </if>
        <if test="icon!=null and icon!=''">
            #{icon},
        </if>
        <if test="url!=null and url!=''">
            #{url},
        </if>
        <if test="action!=null and action!=''">
            #{action},
        </if>
        #{priority},
        #{name} ,
        #{createTime}
    </sql>
    
    <resultMap id="baseResultMap" type="com.cms.dao.entity.CmsPermissionEntity">
        <id property="id" column="id"></id>
        <result property="priority" column="priority"></result>
        <result property="url" column="url"></result>
        <result property="action" column="action"></result>
        <result property="parentId" column="parent_id"></result>
        <result property="name" column="name"></result>
        <result property="menu" column="is_menu"></result>
    </resultMap>

    <insert id="save">
        insert into cms_permission (<include refid="key"></include>) values (<include refid="value"></include>)
    </insert>

    <select id="selectAll" resultMap="baseResultMap">
        select <include refid="baseField"></include> from cms_permission
    </select>

    <select id="selectById" resultMap="baseResultMap">
        select <include refid="baseField"></include> from cms_permission where id = #{id}
    </select>
</mapper>