<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cms.dao.mapper.CmsTopicMapper">
    <cache type="org.mybatis.caches.ehcache.EhcacheCache"/>

    <sql id="baseColumn">
        create_time,
        id,
        name,
        keywords,
        description,
        title_img,
        content_img,
        tpl_content
    </sql>

    <sql id="key">
        name,
        <if test="keywords!=null and keywords!=''">
            keywords,
        </if>
        <if test="description!=null and description!=''">
            description,
        </if>
        <if test="titleImg!=null and titleImg!=''">
            title_img,
        </if>
        <if test="contentImg!=null and contentImg!=''">
            content_img,
        </if>
        <if test="tplContent!=null and tplContent!=''">
            tpl_content,
        </if>
        create_time
    </sql>

    <sql id="val">
        #{name},
        <if test="keywords!=null and keywords!=''">
            #{keywords},
        </if>
        <if test="description!=null and description!=''">
            #{description},
        </if>
        <if test="titleImg!=null and titleImg!=''">
            #{titleImg},
        </if>
        <if test="contentImg!=null and contentImg!=''">
            #{contentImg},
        </if>
        <if test="tplContent!=null and tplContent!=''">
            #{tplContent},
        </if>
        #{createTime}
    </sql>

    <sql id="updateField">
        update_time = #{updateTime},
        name=#{name},
        <if test="keywords!=null and keywords!=''">
            keywords =#{keywords},
        </if>
        <if test="description!=null and description!=''">
            description =#{description},
        </if>
        <if test="titleImg!=null and titleImg!=''">
            title_img =#{titleImg},
        </if>
        <if test="contentImg!=null and contentImg!=''">
            content_img =#{contentImg},
        </if>
        <if test="tplContent!=null and tplContent!=''">
            tpl_content =#{tplContent},
        </if>
    </sql>

    <resultMap id="baseResultMap" type="com.cms.dao.entity.CmsTopicEntity">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="name" column="name"/>
        <result property="keywords" column="keywords"/>
        <result property="description" column="description"/>
        <result property="titleImg" column="title_img"/>
        <result property="contentImg" column="content_img"/>
        <result property="tplContent" column="tpl_content"/>
    </resultMap>

    <insert id="save">
        <selectKey order="AFTER" keyProperty="id" resultType="java.lang.Integer">
            select last_insert_id()
        </selectKey>
        insert into cms_topic(<include refid="key"/>) values (<include refid="val"/>)
    </insert>

    <update id="update">
        update cms_topic
        <trim prefix="set" suffixOverrides=",">
            <include refid="updateField"/>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteById">
        delete from cms_task where id = #{id}
    </delete>

    <select id="selectAll" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from cms_task where is_enable = 1
    </select>

    <select id="selectBySearchProvider" parameterType="SearchProvider" resultMap="baseResultMap">
        select <include refid="baseColumn"/>
        from cms_topic
        <where>
            <if test="criteria.name!=null and criteria.name!=''">
                name like concat ('%',#{criteria.name},'%')
            </if>
        </where>
        <if test="inner!=null and inner.count!=null">
            limit #{inner.count}
        </if>
        order by create_time desc
    </select>

    <select id="selectById" resultMap="baseResultMap">
        select <include refid="baseColumn"/>
        from cms_topic
        where id = #{id}
    </select>
</mapper>